<div class="container">
    <h1 class="center-align">Eat-Da-Burger!!</h1>
    <!-- New burgers will be added here as well as submit button -->
    <form class="col s12 burger-form">
        <div class="row">
            <input placeholder="Enter burger..." id="add-new-burger">
            <button type="submit" class="btn waves-effect" id="submit-new-burger">Submit Burger!!</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row col 12">
        <!-- New burgers added here  -->
        <div class="row col m6">
            <h3>Burgers:</h3>
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{>burgerlist}}
                        {{/unless}}
                    {{/each}}
                </ul>
        </div>
        <!-- Devoured burger list -->
        <div class="row col m6">
            <h3>Devoured:</h3>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{>devouredlist}}       
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>